# 生成一个 requirements.txt，在项目根目录下运行：pipreqs .
#pipreqs
# gradio==5.4.0
# openai_whisper==20231117
# edge_tts==6.1.13

faster_whisper==1.0.1
numpy<2
requests
sounddevice==0.4.7
yt_dlp
translators==5.9.9
pysrt
audio_separator
xxhash
opencv-python

peft
transformers>=4.43
fast_langdetect>=0.3.1
jieba
split_lang
x_transformers
pytorch_lightning
jieba_fast
pypinyin
cn2an
opencc